<%- include('./partials/boilerplate')%>
  <%- include('./partials/header')%>
    <div class="w-full h-screen flex items-center justify-center relative bg-black">
      <h1 class="absolute top-10 text-white text-3xl">Sales Visualisation</h1>
      <div id="container" class="flex items-center justify-between w-full p-6 h-auto ">
        <div id="basis" class=" w-auto h-auto p-6 flex gap-10 flex-col">
          <button id="coursessales" class="bg-sky-400 p-4 rounded-2xl text-lg text-white hover:text-black hover:transition-all font ">Course Sales</button>
          <button id="continentsales" class="bg-sky-400 p-4 rounded-2xl text-lg text-white hover:text-black hover:transition-all ">Continent Sales</button>
          <button id="topicwise" class="bg-sky-400 p-4 rounded-2xl text-lg text-white hover:text-black hover:transition-all">Topic Sales</button>
          <button id="totalsales" class="bg-sky-400 p-4 rounded-2xl text-lg text-white hover:text-black hover:transition-all">Total Sales</button>
        </div>
        <div class="text-white border p-4">
          Total Courses:- <span id="totalcource"></span> <br>
          Total Topic: -  <span id="totaltopic"></span>      <br>
          Total Revenue:- <span id="total"></span>
        </div>
        <div id="pie-chart">

        </div>
      </div>

    </div>
    <%- include('./partials/footer')%>
    <script src="https://d3js.org/d3.v7.min.js"></script>
      <script src="../js/analytics.js"></script>
      <%- include('./partials/lower')%>