<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="../css/firstpage.css">
</head>
<body>

    <%- include('./partials/header')%>
    <h1 class=" text-white ">it is working</h1>
    <%- include('./partials/footer')%>
</body>
</html>