<%- include('./partials/boilerplate')%>

    <%- include('./partials/header')%>
    <h1 class="text-white">register page
    </h1>
    <%- include('./partials/footer')%>

<%- include('./partials/lower')%>