<div class="border-t-4 border-black">
<section class="relative overflow-hidden bg-white py-8">
    <div class="container relative z-10 mx-auto px-4">
      <div class="-m-8 flex flex-wrap items-center justify-center">
        <div class="w-auto p-8">
          <a href="#">
            <div class="inline-flex items-center">
              <span class="ml-4 text-lg font-bold">Visual</span>
            </div>
          </a>
        </div>
        <div class="w-auto p-8 ">
          <ul class="-m-5 flex flex-wrap items-center">
            <li class="p-5">
              <a class="font-medium text-gray-600 hover:text-gray-700" href="#">
                Privacy Policy
              </a>
            </li>
            <li class="p-5">
              <a class="font-medium text-gray-600 hover:text-gray-700" href="#">
                Terms of Service
              </a>
            </li>
            <li class="p-5">
              <a class="font-medium text-gray-600 hover:text-gray-700" href="#">
                Return Policy
              </a>
            </li>
            <li class="p-5">
              <a class="font-medium text-gray-600 hover:text-gray-700" href="#">
                Contact Us
              </a>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </section>
</div>