<div id="nav" >
    <div id="logo">
        <img src="../../img/image.png">
    </div>
    <div id="path">
        <a href="/">Home</a>
        <a href="/analytics">Analytics</a>
        <a href="/about">About</a>
    </div>
    <div id="log">
       <a href="/login">Login</a>
       <a href="/register">Sign Up</a>
    </div>
</div>
