<div id="nav">
    <div id="logo">
        <img src="../../img/image.png">
    </div>
    <div id="path">
        <a href="#">Home</a>
        <a href="#">Analytics</a>
        <a href="#">About</a>
    </div>
    <div id="log">
        <button>Login</button>
        <button>Signup</button>
    </div>
</div>
